/* basic styles for every page */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #1d1d1d;
}

body {
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
	position: relative;
}

/* header styles */
header {
	background-color: #eeeeee;
	position: fixed;
	top: 0;
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.top {
	padding-top: 4em;
}

.row100 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	flex-grow: 1;
}

/* Use a 3-1 aspect ratio for this image */
.row100 img {
	width: 78.125%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
}

.row50 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	flex-grow: 1;
}

.row33 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	flex-grow: 1;
}

.toprow {
	padding-top: 2em;
}

.row25 {
	width: 25%;
	float: left;
	box-sizing: border-box;
	flex-grow: 1;
}

/* Use a 1-1 aspect ratio for these images */
.row25 img {
	width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

.row25 p {
	margin-top: 1em;
}

#name {
	background-color: #eeeeee;
	text-align: left;
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

#hours {
	background-color: #eeeeee;
	text-align: right;
	float: right;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

/* main body styles */
#main {
	color: white;
}

#main h2 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#main h3 {
	text-align: center;
}

ul {
	margin-top: 0.5em;
	list-style-type: none;
	text-align: center;
}

li {
	margin-top: 0.1em;
}

#main p {
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
}

#repair {
	padding-bottom: 100px;
}

footer {
	background-color: #a12b2f;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	color: black;
}